
.fsSubmitButton
{
padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #006df0;
font-weight: bold;
text-shadow: 1px 1px #005dcd;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #0f75f0;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-left: 2%;

}

.fsButton
{
padding: 10px 15px 8px !important;
font-size: 16px !important;
background-color: #006df0;
font-weight: bold;
text-shadow: 1px 1px #005dcd;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #0f75f0;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-left: 1%;

}


.menu a{
    text-decoration:none;
}

.fsButton:hover
{
padding: 10px 15px 8px;
font-size: 16px;
background-color: #0056ac;
font-weight: bold;
text-shadow: 1px 1px #005dcd;
color: #d7d7d7;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #0f75f0;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin-left: 1%;

}

.back{

    filter: grayscale(100%) brightness(250%);
    transition:filter 0.2s;

    -webkit-transition:-webkit-filter 0.2s;
}

.back:hover {
   filter: grayscale(0);

-webkit-filter: grayscale(0);
}