{% extends 'basePrincipal.html' %}


{% block cuerpo %}

   <div class="w3-display-middle">
   <a href="/"><img class="back" ass="back" src="/static/images/reply-back.png"></a>

      <div class="tbl-content-about">
        <div class="tbl-content-into">{{ message }}



        <p>Bartolome Marquez Dominguez <a target="_blank" href="https://github.com/barmardom">@barmardom</a></p>
        <p>Juan Ramón Rodríguez Rosado <a target="_blank" href="https://github.com/juanrarodriguez18">@juanrarodriguez18</a></p>
        <p>Jose Antonio Rodríguez Torres <a target="_blank" href="https://github.com/josearodriguez">@josearodriguez</a></p>

        <span>Proyecto en gitHub <a target="_blank" href="https://github.com/AII-G2/ToFilms"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></span>


        </div>









  </div>



   </div>

{% endblock %}

