<!DOCTYPE html>
<html lang="en">
<head>
    <title>toFilms</title>

    <meta charset="UTF-8">
    <title>Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/listado.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

</head>

<body>

<div class="cabecera">
<a title="Principal" href="/"><img class="logoCentral" src="/static/images/logoBlanco.png"></a>



<div class="menu"><a href="/"><span class="fsButton">Principal</span></a><a href="/avanzada"><span class="fsButton">Busqueda avanzada</span></a></div>




</div>


{% block cabeza %}{% endblock %}
{% block titulo %}{% endblock %}
{% block subtitulo %}{% endblock %}
{% block cuerpo %}{% endblock %}
</body>
</html>