{% extends 'base.html' %}


{% block cuerpo %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

   <div class="w3-display-middle">
      <h1 class="w3-xxlarge w3-center">Encontrar peliculas es ahora más fácil que nunca</h1>
      <div class="box">
         <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar..." />
         </div>
      </div>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">8524 peliculas disponibles</p>
   </div>
</div>

{% endblock %}

