{% extends 'basePrincipal.html' %}


{% block cuerpo %}

   <div class="w3-display-middle">
      <h1 class="w3-xxlarge w3-center">Encontrar peliculas es ahora más fácil que nunca</h1>

       <div class="box">
         <div class="container-1">

             <form id='formulario' method='post' action=''>{% csrf_token %}
                 <span class="icon"><i class="fa fa-search"></i></span>
	            {{formulario.as_p}}
	        <p><input class="fsSubmitButton" type='submit' value='Buscar'/></p>

	        </form>

         </div>
      </div>

      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">{{numPeliculas}} peliculas disponibles</p>
   </div>

{% endblock %}

